<h2><%= @merchant.name %>'s discounts</h2>
<%= link_to "Create New Discount", "/merchant/#{@merchant.id}/discounts/new" %>
<h3>Upcoming Holidays</h3>
<% @holidays.each do |holiday| %>
  <P><%= holiday[:name] %>: <%= holiday[:date] %></p>
<% end %>
<table class="table table-sm" id='merchant-discounts'>
  <thread>
    <tr>
      <td>Percentage</td>
      <td>Quantity Required</td>
      <td>See Discount</td>
      <td>Delete Discount</td>
    </tr>
  </thread>
  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.percentage %>%</td>
        <td><%= discount.quantity_required %> Items required for discount</td>
        <td><%= link_to "Click Here!", "/merchant/#{@merchant.id}/discounts/#{discount.id}" %></td>
        <td><%= link_to "Delete Discount", "/merchant/#{@merchant.id}/discounts/#{discount.id}", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>